* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif SC', serif;
}
html {
  background-color: #eee;
  color: #333;
}
#app {
  width: 100vw;
  min-height: 100vh;
}
header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background: #fff;
  box-shadow: #33030080 0px 2px 10px 4px;
  z-index: 999;
}
header > a {
  user-select: none;
  cursor: pointer;
  font-size: 36px;
  font-weight: lighter;
  font-family: 'Noto Sans SC', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
aside {
  overflow: scroll;
  z-index: 999;
  position: fixed;
  top: 60px;
  left: -280px;
  width: 280px;
  background: #fff;
  height: 100vh;
  transition: 0.2s ease-in-out;
}
aside.show {
  left: 0;
  box-shadow: #33030080 2px 12px 10px 4px;
}
aside ul {
  width: 100%;
  list-style: none;
}
aside li, aside ul ul div {
  cursor: pointer;
  user-select: none;
  padding: 12px;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
aside ul ul li {
  padding: 8px 0 8px 16px;
  font-size: 16px;
}
aside li:hover, aside ul ul div:hover  {
  background: #eee;
}
section {
  padding: 24px;
  max-width: 960px;
}
.info {
  display: flex;
  align-items: baseline;
}
.info span {
  position: absolute;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 800;
  font-size: 14em;
  line-height: 0.05;
  color: #33030020;
}
.info h1 {
  font-size: 2.5em;
}
.info h3 {
  font-size: 1em;
  color: #666;
}
.controller {
  margin-left: auto;
  flex-shrink: 0;
}
.controller a {
  display: inline-block;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: lighter;
  user-select: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.controller a:hover {
  background: #33030080;
}
.content {
  margin-top: 2em;
}
.content p {
  font-size: 1.25em;
  margin: 1em 0;
}

@media (max-width: 960px) {
  aside {
    width: 100vw;
    top: -100vh;
    left: 0;
  }
  aside.show {
    top: 60px;
  }
  .info span {
    font-size: 24vw;
  }
}

@media (prefers-color-scheme: dark) { 
  html {
    background: #333;
    color: #eee;
  }
  header {
    background: #444;
    box-shadow: #ffcfcc80 0px 2px 10px 4px;
    z-index: 999;
  }
  aside {
    background: #444;
  }
  aside.show {
    box-shadow: #ffcfcc80 2px 12px 10px 4px;
  }
  aside li:hover, aside ul ul div:hover {
    background: #555;
  }
  .info span {
    color: #ffcfcc20;
  }
  .info h3 {
    color: #ccc;
  }
  .controller a:hover {
    background: #ffcfcc80;
  }
} 
