* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  position: absolute;
  top: 10px;
  display: block;
  width: 100vw;
  text-align: center;
  color: #ccccccaa;
  text-shadow: 0px 0px 20px #fff;
}
body {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}
#map {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}
#error {
  z-index: -1;
  position: absolute;
  top: calc(50vh - 30px);
  left: calc(50vw - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  background: #fff;
  transition: 0.4s ease-in-out;
}
#info {
  position: absolute;
  bottom: 80px;
  left: calc(50vw - 84px);
  display: flex;
  justify-content: center;
  width: 168px;
  font-size: 16px;
  font-weight: bold;
  color: #ccccccaa;
  text-shadow: 0px 0px 20px #fff;
}
button {
  position: absolute;
  bottom: 20px;
  width: 64px;
  height: 64px;
  font-size: 48px;
  background: transparent;
  border: 0;
  opacity: 0.6;
}
footer {
  position: absolute;
  bottom: 0;
  left: calc(50vw - 84px);
  display: flex;
  justify-content: center;
  width: 168px;
  font-size: 10px;
  color: #ccccccaa;
  text-shadow: 0px 0px 20px #fff;
}